doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title WEB GIS
    link(rel='stylesheet', href='stylesheets/reset.css')
    link(rel='stylesheet', href='stylesheets/style.css')
    link(rel='stylesheet', type='text/css', href='stylesheets/bootstrap.min.css')
  body
    .top
      h1.title WEB GIS车辆位置监控系统
    .content
      .inner
        form.form-horizontal(action='/sign_in', method='post')
          .form-group
            label.col-sm-2.control-label(for='inputEmail3', style='color:#ddd;') 用户名
            .col-sm-10
              input#inputEmail3.form-control(placeholder='请输入用户名', name='username')
          .form-group
            label.col-sm-2.control-label(for='inputPassword3', style='color:#ddd;') 密码
            .col-sm-10
              input#inputPassword3.form-control(type='password', placeholder='密码', name='password')
          .form-group
            .col-sm-offset-2.col-sm-10
              .checkbox
                label(style='color:#ddd;')
                  input(type='checkbox')
                  |  记住密码
          .form-group
            .col-sm-offset-2.col-sm-10.set_weight
              input.btn.btn-default(type='submit', value='登录')
              a(href='/sign_up')
                input.btn.btn-default(value='没有账号，免费注册！')
    .foot
