body{
	min-width: 1000px;
	min-height: 700px;
}
.top{
	width: 100%;
	height: 100px;
	background: rgba(0,0,0,0.9)
}
.content{
	height: 500px;
	width: 100%;
	background: rgba(0,0,0,0.9)
}
.inner{
	height: 500px;
	width: 500px;
	margin:0 auto;
	padding-top: 20px;
}
.title{
	width: 570px;
	margin: 0 auto;
	padding-top: 35px;
	font-size: 45px;
	color: #eee;
}
.foot{
	width: 100%;
	height: 100px;
	background: rgba(0,0,0,0.9)
}
.set_weight{
	min-width:442px;
}
.btn-default.btn{
	margin-left: 55px;}